QScrollArea {
    border: none;
}

QWidget {
    background: rgb(52, 52, 52);
    color: white;
}

QPushButton {
    border-radius: 3px;
    color: white;
    background: rgb(82, 82, 82);
}

QPushButton:hover {
    background: rgb(62, 62, 62);
}